# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=96D5xSEpJyD88N7q5
POSTGRES_DB=finstancedb
POSTGRES_PORT=5432

# pgAdmin 
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050


ConnectionStrings__Postgres=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
